@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Merhaba,  👋</p>
        <Logout />
    </Authorized>
    <NotAuthorized>
        <p>Giriş yapılmamış</p>
        <Login />
    </NotAuthorized>
</AuthorizeView>

